<!-- <html>
    <head>
        <title>
            <%=title%>
        </title> -->

        <link rel="stylesheet" href="/css/user_profile.css">
    <!-- </head> -->
    <!-- <body>
       <%- include('_header'); -%> -->

        <h1> Finsta/Profile </h1>
<!--      
        <%- include('_footer'); -%>
    </body>
</html> -->

<p><%=  user.name %></p>
<p><%=  user.email %></p>